/* Defina um estilo para o corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff; 
    text-align: center; 
    padding: 10px;
    margin: 0;
}

.main_container {
    display: grid;
    grid-template-columns: auto 1fr; /* Define duas colunas com a primeira ocupando o espaço restante */
    grid-template-rows: auto; /* Define o tamanho das linhas automaticamente */
    max-width: 1000px; 
    margin: 0 auto; /* Centralize horizontalmente */
    border-radius: 10px;
    border: 1px solid #777676;
}

.header_container {
    grid-column: 1 / span 2; /* Este elemento abrange todas as três colunas */
}

.logo_text {
    margin-top: 5px;
    color: #333; 
    font-size: 20px; 
}

.logo_img {
    max-width: 130px;
    margin-top: 5px;
}

.left_container {
    margin-left: 10px;
    max-height: 65%;
    border: 1px solid #777676;
    border-radius: 10px;
    padding: 10px; /* Preenchimento interno para espaçamento interno */
}

.right_container {
    padding: 10px;
    max-width: 120%; 
}

.img_instrucoes {
    max-width: 130px;  
}

.text1_instrucoes {
    font-size: 13px;  
}

.text2_instrucoes {
    font-size: 13px;  
}

.text2_instrucoes a {
    font-size: 13px;
    /* text-decoration: none;  */
    color: inherit; 
}

.text_menu {
    text-align: left;
    color: #000000; 
    font-size: 13px;
    line-height: 1.5;
}

.text_menu strong {
    font-weight: bold; /* Torna o texto dentro de <strong> em negrito */
}

.add_text {
    padding: 10px;
    margin: 0 auto; /* Centralize o formulário horizontalmente */
    max-width: 500px; /* Largura máxima do formulário */
}

/* Estilo para os rótulos (labels) */
label {
    display: block; /* Coloque os rótulos em uma nova linha */
    margin-top: 5px; /* Espaço superior entre os rótulos */
    font-weight: bold; 
    font-size: 13px;
}

/* Estilo para os campos de entrada (inputs) */
input[type="text"] {
    width: 400px; /* Ocupa toda a largura disponível */
    padding: 5px;
    margin: 3px 0;
    border: 1px solid #ccc; /* Borda fina cinza */
    border-radius: 5px;
}

/* Estilos para o menu suspenso */
#unitSelect {
    width: 180px; /* Largura desejada para o menu suspenso */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

/* Estilos para as opções do menu suspenso */
#unitSelect option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

/* Estilizar a seta do menu suspenso */
#unitSelect::-ms-expand {
    display: none; /* Oculta a seta no Internet Explorer */
}

.button_add,
.button_save {
    background-color: #c7e28e; /* Cor de fundo do botão */
    color: #000; /* Cor do texto do botão */
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;  
    font-weight: bold; 
    font-size: 13px; /* Tamanho da fonte do título */
    
}

.button_add:hover,
.button_save:hover {
    background-color: #a2cd5a; /* Cor de fundo do botão */
    color: #000; /* Cor do texto do botão */
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;  
    font-weight: bold;  
    font-size: 13px; 
    
}

.button_save a {
    color: inherit; 
    text-decoration: none; /* Remove a decoração de link (sublinhado) */
}

#signatureImage {    
    border: 1px solid #ccc;
    border-radius: 5px;   
}

