/* Defina um estilo para o corpo da página */
body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #fff; /* Cor de fundo da página */
    text-align: center; /* Centralize o texto na página */
    padding: 10px;
    margin: 0;
}

/* Estilos para o contêiner principal */
<<<<<<< HEAD
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas com a primeira ocupando o espaço restante */
    grid-template-rows: auto; /* Define o tamanho das linhas automaticamente */
}

.header_container {
    grid-column: 1 / span 3; /* Este elemento abrange todas as três colunas */
    background-color: #dfdbdb; /* Cor de fundo para o container à esquerda */
=======
.main_container{
    float: center;
    width: 100%;
}

.main_container_tutorial {
    float: center;
    width: 80%;
}

.header_container {
    float: right;
    width: 55%;
    height: 70px;
    background-color: #fff;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */ 
    margin-bottom: 5px;   
}

.header_container_tutorial {
    float: center;
    width: 600%;
    height: 65px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */ 
    margin-bottom: 5px;   
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
}

.logo_text {
    color: #333; 
    font-size: 17px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-right: 190px;
<<<<<<< HEAD
=======
}

.logo_text_tutorial {
    float: center;
    color: #333; 
    font-size: 17px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
}

.logo_img {
    float: left;
    max-width: 150px;
    margin-top: 10px;
<<<<<<< HEAD
    margin-bottom: 10px;
    margin-left: 40px;
}

.left_container {
    background-color: #f2f2f2; /* Cor de fundo para o container à esquerda */
    padding: 10px; /* Preenchimento interno para espaçamento interno */
    border: 1px solid #ccc; /* Borda para separação */
    
}

.right_container {
    background-color: #e2e2e2; /* Cor de fundo para o container à direita */
    padding: 10px; /* Preenchimento interno para espaçamento interno */
    border: 1px solid #ccc; /* Borda para separação */
    
=======
    margin-left: 40px;
}

.logo_img_tutorial {
    float: left;
    max-width: 150px;
    margin-top: 10px;
    margin-left: 10px;
}

.rigth_container {
    float: left;
    width: 55%;
    background-color: #fff;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /*background-image: url('img/bg-secao01.jpg');*/ /* imagem de fundo */
    /*background-size: cover; */ /* imagem de fundo */
    /*background-repeat: no-repeat; */ /* imagem de fundo */
    /*background-attachment: fixed; */ /* imagem de fundo */
}

.left-container{
    float: left;
    width: 25%; /* A largura desejada para o container à esquerda */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.2); /* Sombra suave */
    margin-right: 5px;
    margin-top: 5px;
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
}

.img_instrucoes {
    max-width: 150px;
}

<<<<<<< HEAD
.text_instrucoes {
=======
.instrucoes_text {
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
    color: inherit; /* Herda a cor do texto do elemento pai */
    text-decoration: none; /* Remove a decoração de link (sublinhado) */
    font-size: 14px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

<<<<<<< HEAD
.text1_menu {
=======
.menu_text1 {
    margin-right: 5px;
    margin-left: 10px;
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
    text-align: left;
    color: #000000; 
    font-size: 12px; 
    font-family: Verdana, Tahoma, sans-serif;
}

<<<<<<< HEAD
.text2_menu {
=======
.menu_text2 {
    margin-right: 5px;
    margin-left: 10px;
>>>>>>> 776ab6039358bb5d68d27554bb4806a108703146
    text-align: center;
    color: #000000; 
    font-size: 13px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.body_container {
    float: right;
    width: 60%;
}

/* Estilo para o formulário */
.add_text {
    padding: 10px;
    margin: 0 auto; /* Centralize o formulário horizontalmente */
    max-width: 500px; /* Largura máxima do formulário */
}

/* Estilo para os rótulos (labels) */
label {
    display: block; /* Coloque os rótulos em uma nova linha */
    margin-top: 5px; /* Espaço superior entre os rótulos */
    font-weight: bold; 
    font-family: Verdana, Tahoma, sans-serif; 
    font-size: 12px;
}

/* Estilo para os campos de entrada (inputs) */
input[type="text"] {
    width: 400px; /* Ocupa toda a largura disponível */
    padding: 5px;
    margin: 3px 0;
    border: 1px solid #ccc; /* Borda fina cinza */
    border-radius: 5px;
}

.button_add,
.button_save {
    background-color: #baed68; /* Cor de fundo do botão */
    color: #000; /* Cor do texto do botão */
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;   
    font-size: 13px; /* Tamanho da fonte do título */
    font-family: Verdana, Tahoma, sans-serif;
}

.button_add:hover,
.button_save:hover {
    background-color: #a2cd5a; /* Cor de fundo do botão */
    color: #000; /* Cor do texto do botão */
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    font-size: 13px; /* Tamanho da fonte do título */
    font-family: Verdana, Tahoma, sans-serif;
}

.button_save a {
    color: inherit; /* Herda a cor do texto do elemento pai */
    text-decoration: none; /* Remove a decoração de link (sublinhado) */
}

#signatureImage {    
    border: 2px solid #baed68;    
}

