<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Assinaturas de E-mail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <h1>Crie sua assinatura de e-mail</h1>
    <div class="container">
    <form class='add_text' method="POST" action="/add_text">
        <select id="unitSelect" name="option">
            <option value="" disabled selected>Escolha sua unidade</option>
            <option value="Platina">Platina</option>
            <option value="Masterline">Masterline</option>
        </select><br><br>    
        <label for="name">Nome:</label>
        <input type="text" name="name"><br>
        <label for="position">Cargo:</label>
        <input type="text" name="position"><br>
        <label for="email">Email:</label>
        <input type="text" name="email"><br>
        <label for="phone">Telefone Fixo:</label>
        <input type="text" name="phone"><br>
        <label for="mobile">Telefone Móvel (opcional):</label>
        <input type="text" name="mobile"><br><br>
        <input class='button_add' type="submit" value="Criar Assinatura">
    
    </form>
    <form class='limpar_campos' method="POST" action="/clear">
        <input class='button_clear' type="submit" value="Limpar Campos">
    </form>    
    <img id="signatureImage" src="static/img/03-branco.png" alt="Assinatura" width="590">
    
    <form class='salvar_imagem' method="POST" action="/save_image">
        <input class='button_save' type="submit" value="Salvar Assinatura">
    </form>
    </div>
</body>
</html>
    