<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Zimbra.</title>
    <link rel="icon" href="/static/img/skala.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <body>
        <div class="main_container_tutorial">
        <div class="header_container_tutorial">
            <a href="{{ url_for('index') }}">
                <img class='logo_img_tutorial' src="/static/img/logo-skala.png" alt="Logo">
            </a>
            <h1 class='logo_text_tutorial'>Adicionando sua assinatura de e-mail no Zimbra.</h1>
        </div>
        <div class="body_container">
            

</body>